{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
  <div class="row">
    <div class="col-2 offset-2">
      .
    </div>
    <div class="col-6 profile-edit-box">
      <h1 class="text-center">회원 정보 변경</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_change_form %}
        {% bootstrap_form profile_form %}
        <button type="submit" class="btn btn-primary">수정</button>
      </form>
    </div>
  </div>
{% endblock %}